.wrapper {
    display: inline-flex;
    /* background: #fff; */
    height: 100px;
    width: 277px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 0px;
  }
  .wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    /* // padding: 0 10px; */
    transition: all 0.3s ease;
  }
  
  input[type="radio"] {
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2 {
    border-color: rgb(0, 0, 0);
    background: #000000;
  }
  
  .wrapper .option{
    text-align: center;
  }
  #option-1:checked:checked ~ .option-1 ,
  #option-2:checked:checked ~ .option-2 {
    color: #fff;
  }

  #dot {
    height: 100vh;
    width: 100%;
    background-color: rgb(223, 98, 98);
    border-radius: 50%;
    display: inline-block;
  }

  .name{
    margin-top: 15%;
    margin-left:13rem;
  }
  .name1{
    margin-left:13rem;
  }