<div class="container">
  <div class="row" id="dot">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-10">
      <form [formGroup]="myform">
        <div class="row name">
          <div class="col-md-4">
            <label>Firstname :</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your firstname"
              formControlName="firstname"
            /><br />
          </div>
          <div class="col-md-4">
            <label>Middlename :</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your middlename"
              formControlName="middlename"
            /><br />
          </div>
          <div class="col-md-4">
            <label>Lastname :</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your lastname"
              formControlName="lastname"
            /><br />
          </div>
        </div>
        <div class="row name1">
          <div class="col-md-6">
            <label>Fullname :</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your fullname"
              formControlName="fullname"
            /><br />
          </div>
          <div class="col-md-6">
            <label>Email :</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your email"
              formControlName="email"
            /><br />
          </div>
        </div>
        <div class="row name1">
          <div class="col-md-6">
            <label>Password :</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your password"
              formControlName="password"
            /><br />
          </div>
          <div class="col-md-6">
            <label>Confirm Password :</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your confirm password"
              formControlName="confirmpassword"
            /><br />
          </div>
        </div>
        <div class="name1">
          <label for="gender">Gender<span class="required">*</span> </label
          ><br />
          <div class="wrapper">
            <input
              type="radio"
              name="gender"
              formControlName="gender"
              id="option-1"
              value="Male"
            />
            <input
              type="radio"
              name="gender"
              formControlName="gender"
              id="option-2"
              value="Female"
            />
            <label for="option-1" class="option option-1"> Male </label>
            <label for="option-2" class="option option-2"> Female </label>
          </div>
        </div>
        <br />
        <div class="row name1">
          <div class="col-md-4">

        <select id="city" formControlName="city" class="form-control" name="city">
          <option value="">Select City</option>

          <option value="Ausa">Ausa</option>
          <option value="Badlapur">Badlapur</option>
          <option value="Balapur">Balapur</option>
          <option value="Ballalpur">Ballalpur</option>

          <option value="Boisar">Boisar</option>
        </select>
        </div>
        <div class="col-md-4">

        <select id="country-state" formControlName="state" class="form-control" placeholder="select state" name="state">
          <option value="">Select State</option>

          <option value="AN">Andaman and Nicobar Islands</option>
          <option value="AP">Andhra Pradesh</option>
          <option value="AR">Arunachal Pradesh</option>
          <option value="AS">Assam</option>
          <option value="BR">Bihar</option>
        </select>
        </div>
        <div class="col-md-4">
        <select id="country" formControlName="country" class="form-control" name="country">
          <option value="AN">India</option>
        </select>
        </div>
      </div><br/>
        <button type="button" class="btn btn-dark name1" (click)="submit()">Save</button>

        <p class="name1">Already've account ?<a routerLink="">Login</a> </p>
      </form>
    </div>
  </div>
</div>
