<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form>
        <label>Firstname :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your firstname"
        /><br />
        <label>Middlename :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your firstname"
        /><br />
        <label>Lastname :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your firstname"
        /><br />
        <label>Fullname :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your firstname"
        /><br />
        <label>Email :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your firstname"
        /><br />
        <label>Password :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your firstname"
        /><br />
        <label>Confirm Password :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your firstname"
        /><br />
        <div class="form-group">
          <label for="gender">Gender<span class="required">*</span> </label
          ><br />
          <div class="wrapper">
            <input type="radio" name="gender" id="option-1" value="M" />
            <input type="radio" name="gender" id="option-2" value="F" />
            <label for="option-1" class="option option-1"> Male </label>
            <label for="option-2" class="option option-2"> Female </label>
          </div>
        </div>
        <br />
        <select id="city" name="city">
          <option value="">Select City</option>

          <option value="Ausa">Ausa</option>
          <option value="Badlapur">Badlapur</option>
          <option value="Balapur">Balapur</option>
          <option value="Ballalpur">Ballalpur</option>

          <option value="Boisar">Boisar</option>
        </select>

        <select id="country-state" name="country-state">
          <option value="AN">Andaman and Nicobar Islands</option>
          <option value="AP">Andhra Pradesh</option>
          <option value="AR">Arunachal Pradesh</option>
          <option value="AS">Assam</option>
          <option value="BR">Bihar</option>
        </select>

        <select id="country" name="country">
          <option value="AN">India</option>
        </select>

        <button type="button" (click)="submit()">Save</button>
      </form>
    </div>
    <div class="right-side col-md-6"></div>
  </div>
</div>
