<div class="container">
  <div class="row" id="dot">
    <div class="col-md-6 name" >
      <form [formGroup]="loginForm">
        <label>Email :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your email"
          formControlName="email"
        /><br />
        <label>Password :</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your password"
          formControlName="password"
        /><br />

        <button type="button" class="btn btn-dark name1" (click)="submit()">Save</button>
        <p>Don't have account? <a routerLink="/signup">Signup</a></p>
      </form>
    </div>
  </div>
</div>
